
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>На указаный электронный адрес было выслано письмо с инструкциями для завершения регистрации.</p>

